<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>658477512414-pvurn3nrahofn2te26djbrjtr19mj089.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.658477512414-pvurn3nrahofn2te26djbrjtr19mj089</string>
	<key>API_KEY</key>
	<string>AIzaSyDM_pzS7bVOI5CorekVjr-SweOxri61frs</string>
	<key>GCM_SENDER_ID</key>
	<string>658477512414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>KonstantinD.Chat2021</string>
	<key>PROJECT_ID</key>
	<string>chat2021-3468e</string>
	<key>STORAGE_BUCKET</key>
	<string>chat2021-3468e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:658477512414:ios:b84941039ec6621b8db44f</string>
</dict>
</plist>